.body{
    margin: 0 auto;
    padding: 0;
    /* font-family: 'Circe', sans-serif;
    font-weight: 400;
    font-size: 16px; */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: #ffffff;
}