.add{
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem 2.5rem;
  box-sizing: border-box;
  max-width: 17rem;
}

@media (max-width: 568px){
  .add{
    padding: 1rem 1.5rem;
  }
}