.low-nav__link{
    text-decoration: none;
    margin-right: 2.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.3rem;
    text-transform: uppercase;
    color: #000;
}

.low-nav__link:hover{
    text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}