.main-grid{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  grid-auto-flow: dense;
}

@media (max-width: 568px){
  .main-grid{
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
      gap: 1rem;      
  }
}