.features__link{
  margin: 0;
  padding: 0;
  min-height: 3.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.features__link:hover{
  text-decoration: underline;
}

@media (max-width: 568px){
  .features__link{
    font-size: 2rem;
    min-height: 0;
  }
}