.form__input-wrapper {
  position: relative;  
  overflow: hidden;  
  width: 50%;  
  height: 4rem;  
  background: transparent;  
  color: #fff;  
  text-align: center;  
  border: 1px dashed #fff;
  }

  .form__input-wrapper:hover{
    box-shadow: 0 0 0.5rem #fff;
  }

  .form__input-wrapper span{
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 0.005em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }