.factory__info{
  padding: 4rem 1rem 0 0;
  margin: 0;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
}

@media (max-width: 568px){
  .factory__info{
    padding: 0 1rem 0 0;
  }
}