.section_type_factory{
  position: relative;
  height: 34rem;
  padding: 0;
  margin-bottom: 35rem;
  background:  center / cover no-repeat url("../../../images/factory_bg.png");
}

@media (max-width: 568px){
  .section_type_factory{
    margin-bottom: 75rem;
  }
}

@media (max-width: 420px){
  .section_type_factory{
    margin-bottom: 65rem;
  }
}

@media (max-width: 380px){
  .section_type_factory{
    margin-bottom: 60rem;
  }
}